
{% load static %}
{% if user.doctor.is_authenticated %}
<!DOCTYPE html>
<html lang="ar">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/doc-profile.css' %}" />
    <title>Doctor</title>
  </head>
  <body>
    <header class="header">
        <img class="logo" src="{% static 'img/logo.png' %}" alt="">
        <a href="{% url 'logout' %}" class="btn-head">تسجيل الخروج</a>
    </header>

    <div class="flex">
        <div class="container">
            <main>
                <form method="post">
                    {% csrf_token %}
            
                    {{form.as_table}}
            
                    <button type="submit" class="btn btn-primary">ارسال</button>
                </form>
            </main>
        </div>
        <script>
            var p_name = "{{patient_name}}";
            document.getElementById("patient").value = p_name ;
        
            var d_name = "{{user.doctor.id}}";
            document.getElementById("doctor").value = d_name ;
            
            var c_name = '{{consult_id}}';
            document.getElementById("consult_id").value = c_name ;
        
        </script>

        <div class="side">
        <aside>
            <a href="{% url 'showappo' %}" class="btn">الميعاد</a>
            <a href="{% url 'showconsults' user.doctor.pk %}" class="btn">المرضى</a>
            <a href="{% url 'show-prescriptionlist' %}" class="btn edit"> تعديل</a>
            <a href="#" class="btn">الزيارات</a>
        </aside>
        </div>

    </div>

    
<footer class="footer">
    <span>All rights reserved 2022 / 2023 | جميع الحقوق محفوظة 
        <!-- <img  class="copy foot" src="img/copyright.png" alt=""> --></span>
</footer>
    <script src="main.js"></script>
  </body>
</html>
{% endif %}