{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/style-log-pat.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <img class="logo" src="{% static 'img/logo.png' %}" alt="" style="width:170px;height:128px;">

  
    <div class="login-page">
        <div class="form">
            <img src="{% static 'img/user1.png' %}" alt="">
            <h1>Welcome</h1>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-primary">Log In</button>
            </form>
          <p class="message">Not registered? <a href="{% url 'signup' %}">Create an account</a></p>
        </div>
      </div>
    

    <script src="main.js"></script>
</body>
<style>
  header{
    width: 60px;
    height: 60px;
    position: relative;
    top: 5px; left: 10px;
  }
</style>
</html>